---
import SectionHeader from '../ui/SectionHeader.astro';
---

<section class="bg-white px-4 sm:px-6 lg:px-8 py-12 lg:py-32">
  <div class="max-w-[1400px] mx-auto">
    <SectionHeader label="Analizy, trendy i ciekawostki" title="Nasz blog" />
  </div>
</section>
